@model IEnumerable<suggestionbox.Models.Suggestion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Onderwerp
            </th>
            <th>
                Beschrijving
            </th>
            <th>
                GebruikerId
            </th>
            <th>
                Gebruiker
            </th>
            <th>
                Type
            </th>
            <th>
                Begindatum
            </th>
            <th>
                Einddatum
            </th>
            <th>
                Duur
            </th>
            <th>
                Categorieën
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetType().Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
            <td>
                @((item.endDate - item.startDate).TotalDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categories)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
